::-webkit-scrollbar {
  width: 8px; /* Ancho de la barra de desplazamiento */
}

::-webkit-scrollbar-thumb {
  background-color: #4A90E2; /* Color del pulgar de la barra de desplazamiento */
  border-radius: 4px; /* Borde redondeado del pulgar */
}

::-webkit-scrollbar-track {
  background-color: #F1F1F1; /* Color de la pista de la barra de desplazamiento */
}

.max-width-container{
    max-width: 650px;
}

@media (min-width: 768px) and (max-height: 700px){
    .contendor{
        height: 500px;
        overflow-y: auto;
    }
}